@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    background-color: #222544;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    font-family: Roboto;
}

.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.text {
    border-width: 1px;
    border-style: solid;
    border-color: #f1f1f1;
    color: #2d9cca;
    padding: 10px;
    border-radius: 60px;
    margin: 10px;
    list-style-type: none;
}

p {
    color: #f1f1f1;
}

h1 {
    color: #2d9cca;
}