@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.main-heading {
    color: white;
}

.bg-container {
    background-image: radial-gradient(#c294d1, #4b4a7e);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}

.images {
    height: 100px;
    width: 100px;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 15px;
}

.card-content {
    margin-right: 20px;
}

.image-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-p {
    color: #6e798c;
    font-size: 17px;
}

.card-h {
    color: #081f32;
    font-size: 20px;
}

.icon1 {
    color: #5d408c;
}

.icon2 {
    color: #2a4eaa;
}

.icon3 {
    color: #9e619b;
}

.icon4 {
    color: #391484;
}

@media screen and (min-width: 768px) {
    .card {
        display: flex;
        flex-direction: row;
        padding: 20px;
        margin: 20px;
        background-color: white;
        border-radius: 15px;
        justify-content: space-between;
    }

    .bottom-div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100vw;
    }

    .card-h {
        color: #081f32;
        font-size: 22px;
    }

}