@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    height: 100vh;
}

.image {
    height: 64px;
    width: 64px;
}

.card {
    text-align: center;
    width: 200px;
    margin: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.main-heading {
    color: #183b56;
    font-size: 35px;
}

.main-content {
    padding-left: 30px;
    padding-right: 30px;
    color: #5a7184;
}

.card-heading {
    color: #183b56;
    font-size: 25px;
}

.card-content {
    color: #5a7184;
    font-size: 15px;
}